target
.cargo
.vscode
depricated
frontend/dist
frontend/olddist
Cargo.lock
backend/migrations
backend/auth.bin.gz
backend/profanity_en.csv
backend/quotes.txt
frontend/tempdist
files
keys
backend/cwf_normal.ttf
backend/thumb.png
frontend/src-old
backend/thumb_large.png
profanity/src/testing.rs
backend/.env
frontend/res
frontend/favicon.ico
frontend/res/fonts
frontend/unauthorized.html
frontend/src/api/old
build.sh