target
.cargo
.vscode
depricated
frontend/dist
frontend/olddist
frontend/res/*.png
frontend/res/*.svg
frontend/res/spoilers
frontend/res/banners
Cargo.lock
backend/migrations
backend/auth.bin.gz
backend/profanity_en.csv
backend/quotes.txt
frontend/tempdist
files
keys
backend/cwf_normal.ttf
backend/thumb.png
frontend/src-old