.board-page {
  width: 100%;
}

.randomized-banner-image {
  max-height: 20vh;
  display: inline-flex;
  justify-content: center;
  margin: 0.4rem;
}

.randomized-banner-image img {
  max-width: 800px;
  max-height: 20vh;
}

.footer {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}