
.home {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-type) var(--border-color);
}

.home-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: var(--border-width) var(--border-type) var(--border-color);
    border-radius: var(--border-radius) var(--border-radius) 0em 0em;
}

.home-board-list {
    display: flex;
    justify-content: center;
    text-align: center;
}


#home-board-name-only {
    border-radius: 0em 0em var(--border-radius) var(--border-radius);
}

@media (min-aspect-ratio: 1/1) {
    .home-board-list {
        flex-direction: row;
    }
    #home-board-name-first {
        border-radius: 0em 0em 0em var(--border-radius);
        border-right: var(--border-width) var(--border-type) var(--border-color);
    }
    #home-board-name-middle {
        border-right: var(--border-width) var(--border-type) var(--border-color);
    }
    #home-board-name-last {
        border-radius: 0em 0em var(--border-radius) 0em;
    }
}

@media (max-aspect-ratio: 1/1) {
    .home-board-list {
        flex-direction: column;
    }
    #home-board-name-last {
        border-radius: 0em 0em var(--border-radius) var(--border-radius);
    }
    #home-board-name-middle {
        border-bottom: var(--border-width) var(--border-type) var(--border-color);
    }
    #home-board-name-first {
        border-bottom: var(--border-width) var(--border-type) var(--border-color);
    }
}

.home-board-name-link {
    white-space: nowrap;
    padding-inline: 0.5em;
    padding-block: 0.35em;
    color: var(--link-color);
}

.home-board-name-link:hover {
    color: var(--primary-color);
    background-color: var(--link-color);
}