
.popup-blur {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0.1rem);
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup {
  display: inline-flex;
  position: fixed;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  left: -1px;
  top: -1px;
}

.toggle-theme {
  z-index: 1;
  position: fixed;
  right: 1rem;
  top: 0.45rem;
}

.popup-close-button {
  z-index: 1;
  position: absolute;
  right: 1rem;
  top: 0.45rem;
}

.settings {
  padding: none;
  background-color: var(--primary-color);
  border: var(--border-width) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
}

.settings-theme-editor {
  padding-inline: 5rem;
  padding-block: 2rem;
}

.settings-theme-color-editors {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.color-editor {
  border-bottom: var(--border-width) var(--border-type) var(--border-color);
  border-right: var(--border-width) var(--border-type) var(--border-color);
  border-left: var(--border-width) var(--border-type) var(--border-color);
  display: inline-flex;
  width: 100%;
}

.settings-theme-editor-title {
  border: var(--border-width) var(--border-type) var(--border-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hex-color-input {
  width: 5rem;
  height: 1.55rem;
  border-width: 0px;
  margin-left: auto;
  box-sizing: border-box;
  border: none;
}

.text-color-input {
  padding: 0px;
  margin: 0px;
  margin-left: 0.2rem;
  border-width: 0px;
  width: 5rem;
}

.color-preview {
  margin-left: 0.2rem;
  padding-inline: 0.4rem;
}

#color-editor-last {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
#color-editor-last .color-preview {
  border-radius: 0 0 var(--border-radius) 0;
}
