*:not(#allow-select) {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* *:not(#ignore-transition) {
  transition: all var(--animation-speed);
} */

a:not([href]) {
  cursor: pointer;
  color: var(--link-color);
}

.error {
  color: var(--error-color);
}

.home-title p {
  margin-block: 0.2em;
}

.valign {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  width: 100%;
  transform: translateY(-50%);
}

.halign {
  display: flex;
  justify-content: center;
  padding: 5em;
}

@font-face {
  font-family: "ArimoNF";
  src: url("/res/fonts/ArimoNerdFont-Regular.ttf");
}

body {
  color: var(--text-color);
  /* font-family: verdana; used to be sans-serif */
  font-family: "ArimoNF", verdana;
  background-color: var(--secondary-color, #1d1f21);
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
}

:link {
  text-decoration: none;
  color: var(--link-color);
}

:visited {
  text-decoration: none;
  color: var(--link-color);
}

@media (min-width: 60em) and (max-aspect-ratio: 1/1) {
  /* the resolution is too high and the aspect ratio is too low. increase the font size */
  html {
    font-size: 1.5em;
  }
  
  .post-file-thumbnail img {
    width: 15vw !important;
  }
  
  .left-file .post-file .post-file-container .post-file-contents a .post-file-thumbnail img {
    width: 25vw !important;
  }
}