*:not(#allow-select) {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* *:not(#ignore-transition) {
  transition: all var(--animation-speed);
} */

.valign {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  width: 100%;
  transform: translateY(-50%);
}

.halign {
  display: flex;
  justify-content: center;
  padding: 5em;
}

body {
  color: var(--text-color);
  font-family: verdana; /* used to be sans-serif */
  background-color: var(--secondary-color, #1d1f21);
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
}

:link {
  text-decoration: none;
  color: var(--link-color);
}

:visited {
  text-decoration: none;
  color: var(--link-color);
}