/* :root {
  --primary-color: #282a2e;
  --secondary-color: #1d1f21;
  --topic-color: lightblue;
  --bluetext-color: #a039ff;
  --peetext-color: #bebe33;
  --border-color: #242424;
  --error-color: purple;
  --text-color: #c5c8c6;
  --secondary-text-color: #000000;
  --border-width: 0.05em;
  --border-type: solid;
  --link-color: #2c7d31;
  --post-link-valid-color: #2c7d31;
  --post-link-unloaded-color: #a039ff;
  --post-link-invalid-color: #e74c3c;
  --edge-padding: 2%;
} */

.clickable {
  color: var(--link-color);
}

.toggle-theme {
  z-index: 1000;
  float: right;
  padding-left: 8px;
  padding-top: 1.5px;
  position: absolute;
}

.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  width: 100%;
  transform: translateY(-50%);
}

.center-horizontal {
  display: flex;
  justify-content: center;
  padding: 5em;
}

.not-found {
  background-color: var(--primary-color);
  border: var(--border-width) var(--border-type) var(--border-color);
  display: inline-block;
}

.not-found-text {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.banner-image {
  width: 32em;
}

.expand-link {
  margin: 7px;
  padding: 1px;
  background: var(--link-color);
  box-shadow: 0 0 1px 2px var(--link-color);
  display: inline-block;
  color: var(--secondary-color) !important;
}

.expand-link:link {
  color: var(--secondary-color) !important;
}

.expand-link:visited {
  color: var(--secondary-color) !important;
}

.post-topic-link {
  padding: inherit;
  padding-left: 5px;
  margin-right: 0px;
  padding-right: 0px;
}

.navbar {
  background-color: var(--primary-color);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: var(--border-width) var(--border-type) var(--border-color);
}

.navbar-link {
  border-left: var(--border-width) var(--border-type) var(--border-color);
  border-right: var(--border-width) var(--border-type) var(--border-color);
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.current-navbar-link {
  font-weight: bold;
  text-decoration: underline !important;
  border-left: var(--border-width) var(--border-type) var(--border-color);
  border-right: var(--border-width) var(--border-type) var(--border-color);
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.post-link:link {
  color: var(--post-link-valid-color);
}

.post-link:visited {
  color: var(--post-link-valid-color);
}

.post-link-deleted:link {
  color: var(--post-link-invalid-color);
}

.post-link-deleted:visited {
  color: var(--post-link-invalid-color);
}

.post-link-unloaded:link {
  color: var(--post-link-unloaded-color);
}

.post-link-unloaded:visited {
  color: var(--post-link-unloaded-color);
}

.post-topic-link:link {
  color: var(--topic-color)
}

.post-topic-link:visited {
  color: var(--topic-color);
  /*! padding-left: 10px; */
}

.name-and-topic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
}

.board-thread {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: var(--border-width) var(--border-type) var(--border-color);
}

a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:link {
  color: var(--link-color);
  text-decoration: none;
}

.custom-select {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

::file-selector-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

:focus::file-selector-button   {
  outline: inherit;
  box-shadow: 0 1px 6px 2px var(--secondary-color);
}

#file-input:focus {
  outline: none;
}

#name-input {
  margin-left: 5px;
}

#topic-input {
  margin-left: 5px;
}

:focus.custom-select {
  outline: none;
  box-shadow: 0 1px 6px 2px var(--secondary-color);
}

.post-content {
  display: inline-block;
  background-color: var(--primary-color);
  margin: 5px;
  width: auto;
  border-bottom: var(--border-width) var(--border-type) var(--border-color);
  border-left: var(--border-width) var(--border-type) var(--border-color);
  border-right: var(--border-width) var(--border-type) var(--border-color);
}

.post-content-invert {
  display: inline-block;
  background-color: var(--secondary-color);
  margin: 5px;
  width: auto;
  border-bottom: var(--border-width) var(--border-type) var(--border-color);
  border-left: var(--border-width) var(--border-type) var(--border-color);
  border-right: var(--border-width) var(--border-type) var(--border-color);
}

.post-header {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  border-top: var(--border-width) var(--border-type) var(--border-color);
  border-bottom: var(--border-width) var(--border-type) var(--border-color);
  padding-left: 5px;
}

.post-header-delete-button {
  padding-right: 5px;
  padding-bottom: 2px;
}

.post-header-author {
  padding:inherit;
  border-left: var(--border-width) var(--border-type) var(--border-color);
  padding-left: 10px;
  /*! padding-left: ; */
  margin-right: 5px;
}

.post-header-number {
  border-left: var(--border-width) var(--border-type) var(--border-color);
  margin-right: 5px;
  padding:inherit;
  padding-left: 10px;
}

.post-header-timestamp {
  border-left: var(--border-width) var(--border-type) var(--border-color);
  margin-right: 5px;
  padding:inherit;
  padding-left: 10px;
}

.post-header-topic {
  border-left: var(--border-width) var(--border-type) var(--border-color);
  margin-right: 5px;
  color: var(--topic-color);
  padding:inherit;
}


.post-header-replies {
  border-left: var(--border-width) var(--border-type) var(--border-color);
  display: flex;
  padding:inherit;
  flex-direction: row;
}

.post-header-reply-list {
  display: flex;
  padding:inherit;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
}

.post-header-reply-text {
  border-left: var(--border-width) var(--border-type) var(--border-color);
  margin-left: 5px;
  padding-left: 5px;
}

.post-file-container {
  margin-right: 5px;
}


.post-hash {
  margin-left: 5px;
}

.post-text {
  padding: 0.4em;
  border-top: var(--border-width) var(--border-type) var(--border-color);
}

img {
  max-width: 50em;
  max-height: 30em;
  margin-left: 5px;
}

video {
  max-width: 50em;
  max-height: 30em;
  margin-left: 5px;
}

.peetext {
  color: var(--peetext-color);
}

.bluetext {
  color: var(--bluetext-color);
}

.board-title {
  display: flex;
  justify-content: center;
}

.postbox {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.meta-shiz {
  background-color: var(--secondary-color);
}

.submission-box {
  background-color: var(--primary-color);
}

.submission-box-header {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border-left: var(--border-width) var(--border-type) var(--border-color);
  border-right: var(--border-width) var(--border-type) var(--border-color);
  border-top: var(--border-width) var(--border-type) var(--border-color);
  border-bottom: var(--border-width) var(--border-type) var(--border-color);
}

.submission-box-inputs {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-left: var(--border-width) var(--border-type) var(--border-color);
  border-bottom: var(--border-width) var(--border-type) var(--border-color);
  border-right: var(--border-width) var(--border-type) var(--border-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#spoiler-button {
  margin-right: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.submission-box-text-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submission-box-name-input {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.threadposts {
  padding-left: var(--edge-padding);
  padding-right: var(--edge-padding);
  padding-bottom: var(--edge-padding);
}

.board-threads {
  padding-bottom: var(--edge-padding);
}

.board-thread {
  padding-left: var(--edge-padding);
  padding-right: var(--edge-padding);
}

/* .threadposts-list {
  display: flex;
  flex-direction: column;
} */

/* .threadposts-post {
  display: flex;
  justify-content: center;
} */

/* .threadposts-replies {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.submission-box-topic-input {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.submission-box-post-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submission-box-file-input {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#file-input {
  padding-left: 5px;
}

.submission-box-post-error {
  color: var(--error-color);
  padding-left: 5px;
}

#post-input {
  resize: none;
  width: 40em;
  height: 10em;
}

.submission-box-submit {
  display: flex;
  justify-content: center;
}

body {
  color: var(--text-color);
  font-family: verdana; /* used to be sans-serif */
  background-color: var(--secondary-color);
  margin: 0;
  /*! padding-left: 10px; */
}

.post-file-header {
  margin: 3px;
}

.home {
  background-color: var(--primary-color);
  border: var(--border-width) var(--border-type) var(--border-color);
  display: inline-block;
}

.boards {
  background-color: var(--primary-color);
  border: var(--border-width) var(--border-type) var(--border-color);
}

th, td {
  border: var(--border-width) var(--border-type) var(--border-color);
  /*! margin: 0px; */
}

.board-link {
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  /*! padding-top: 0px; */
  /*! padding-bottom: 0px; */
  /*! margin-top: 0px; */
  /*! margin: 0px; */
  margin-left: 0.02em;
}